:root {
  --gray-600: #3e4246;
  --white: white;
  --primary-600: #414f97;
  --midnight-blue: #141327;
  --gray-200: #babfc7;
  --gray-100: #eff2f5;
  --primary-800: #2348ff;
  --gray-400: #929aa0;
}

.w-layout-grid {
  grid-row-gap: 16px;
  grid-column-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.w-backgroundvideo-backgroundvideoplaypausebutton:focus-visible {
  outline-offset: 2px;
  border-radius: 50%;
  outline: 2px solid #3b79c3;
}

body {
  color: var(--gray-600);
  cursor: none;
  font-family: Work Sans;
  font-size: 16px;
  line-height: 24px;
}

h1 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 38px;
  font-weight: bold;
  line-height: 44px;
}

h3 {
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 24px;
  font-weight: bold;
  line-height: 30px;
}

a {
  cursor: none;
  text-decoration: underline;
}

ul {
  margin-top: 0;
  margin-bottom: 10px;
  padding-left: 40px;
}

li {
  margin-bottom: 4px;
  font-family: Plus Jakarta Sans, sans-serif;
}

img {
  max-width: 100%;
  display: inline-block;
}

.navigation {
  z-index: 90;
  width: 100%;
  height: auto;
  opacity: 1;
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  mix-blend-mode: normal;
  background-color: rgba(255, 255, 255, .86);
  padding-top: 0;
  display: block;
  position: fixed;
  top: 0%;
  bottom: auto;
  left: 0%;
  right: 0%;
}

.navbar-container {
  width: 100%;
  height: 100%;
  max-width: 1200px;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding: 0 0 0 20px;
  display: flex;
}

.nav-menu {
  flex: 0 auto;
  align-items: center;
  display: block;
}

.brand {
  align-items: center;
  display: flex;
}

.brand.w--current {
  padding-top: 16px;
  padding-bottom: 16px;
  display: block;
}

.logo-icon {
  height: 24px;
}

.nav-link {
  background-color: rgba(0, 0, 0, 0);
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 14px;
  line-height: 20px;
  display: inline-block;
}

.nav-link:hover {
  color: var(--primary-600);
}

.nav-link.w--current {
  color: var(--primary-600);
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 500;
  overflow: visible;
}

.nav-link.button {
  border: 1px solid var(--midnight-blue);
  color: var(--midnight-blue);
  background-color: rgba(255, 255, 255, 0);
  border-radius: 6px;
  margin-top: 12px;
  margin-left: 20px;
  padding-top: 8px;
  padding-bottom: 8px;
  font-family: Plus Jakarta Sans, sans-serif;
}

.nav-link.button:hover {
  border-color: var(--primary-600);
  background-color: var(--primary-600);
  color: var(--white);
}

.nav-link.home {
  color: rgba(0, 0, 0, 0);
}

.primary-button {
  max-width: 200px;
  border: 0px solid var(--midnight-blue);
  background-color: var(--primary-600);
  color: var(--white);
  letter-spacing: 1px;
  text-transform: capitalize;
  white-space: nowrap;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.primary-button:hover {
  border-color: var(--primary-600);
  background-color: var(--midnight-blue);
  color: var(--white);
}

.primary-button.w--current {
  align-self: flex-end;
}

.primary-button.left-margin {
  color: var(--white);
  text-transform: none;
  background-color: #141327;
  border-radius: 5px;
  align-self: center;
  margin-top: 12px;
  margin-left: 20px;
  margin-right: 0;
  padding: 8px 20px;
  font-family: Work Sans;
  line-height: 20px;
  display: inline-block;
  position: relative;
}

.primary-button.top-margin {
  width: 100%;
  max-width: 260px;
  margin-top: 30px;
}

.primary-button.password {
  width: 100%;
  max-width: 138px;
  background-color: var(--primary-600);
  color: var(--white);
  border-width: 0;
  margin-top: 0;
  font-size: 12px;
}

.primary-button.password:hover {
  background-color: var(--midnight-blue);
  box-shadow: 0 -3px 15px #d3d3d3;
}

.section {
  width: auto;
  padding-top: 59px;
  padding-bottom: 59px;
  position: relative;
  overflow: hidden;
}

.section.hero {
  height: auto;
  background-color: #141327;
  padding-top: 0;
  padding-bottom: 0;
}

.section.footer {
  background-color: var(--midnight-blue);
  padding-top: 0;
  padding-bottom: 0;
}

.section.top-margin {
  padding-top: 120px;
  display: none;
}

.section.bottom-padding {
  padding-top: 60px;
  padding-bottom: 30px;
}

.section.gray {
  border: 0px none var(--gray-200);
  background-color: var(--gray-100);
  border-radius: 0;
}

.section.padding {
  padding-top: 40px;
  padding-bottom: 40px;
}

.section.padding.other-projects-section {
  padding-top: 40px;
  padding-bottom: 80px;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container.hero {
  max-width: 1200px;
  padding: 0 0 0 20px;
  position: relative;
}

.h3 {
  border: 0px none var(--midnight-blue);
  color: var(--midnight-blue);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.h3.left-margin {
  margin-left: 10px;
  font-family: Plus Jakarta Sans, sans-serif;
}

.h2 {
  width: auto;
  height: auto;
  max-width: none;
  border: 0px none var(--midnight-blue);
  color: var(--midnight-blue);
  text-align: left;
  letter-spacing: -.5px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 38px;
  font-weight: 700;
  line-height: 44px;
}

.h2.white {
  color: var(--white);
}

.h2.password-title {
  padding-bottom: 4px;
  font-size: 34px;
  font-weight: 800;
}

.h2.title-testimonial {
  font-size: 36px;
  font-weight: 800;
}

.h2.center-align {
  text-align: center;
}

.h1 {
  border: 0px none var(--midnight-blue);
  color: var(--midnight-blue);
  letter-spacing: -1px;
  margin-top: 0;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 42px;
  font-weight: 700;
  line-height: 52px;
}

.h1.hero {
  color: #b4bce5;
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: Plus Jakarta Sans, sans-serif;
}

.styleguide-grid {
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: space-between;
  align-items: center;
  display: grid;
}

.link {
  color: var(--primary-800);
  margin-top: 10px;
  font-family: Plus Jakarta Sans, sans-serif;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.small-title {
  color: var(--gray-400);
  margin-top: 40px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 12px;
  line-height: 20px;
}

.small-title.other {
  margin-top: 0;
  margin-bottom: 5px;
  text-decoration: none;
}

.small-title.other:hover {
  text-decoration: none;
}

.text {
  z-index: 0;
  letter-spacing: 0;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 18px;
  line-height: 27px;
  position: relative;
}

.text.center {
  text-align: center;
  margin-top: 20px;
  font-family: Plus Jakarta Sans, sans-serif;
}

.text.white {
  color: var(--white);
  font-family: Plus Jakarta Sans, sans-serif;
}

.text.white.hero {
  font-size: 16px;
  line-height: 25px;
}

.text.white.hero.right-padding {
  padding-right: 0;
}

.text.white.hero.right-margin {
  margin-right: 16px;
  font-size: 18px;
  line-height: 27px;
}

.text.top-margin {
  z-index: 0;
  max-width: 760px;
  margin-top: 16px;
  padding-right: 16px;
  font-family: Plus Jakarta Sans, sans-serif;
  position: relative;
}

.text.top-margin.right-margin {
  margin-right: 0;
  padding-right: 0;
}

.text.top-margin.strenghts-text {
  max-width: 400px;
  margin-right: 24px;
  padding-right: 0;
}

.text.top-margin.testimonial-subtitle {
  font-size: 16px;
  line-height: 24px;
}

.text.top-margin.caption {
  opacity: .48;
}

.text.top-margin.tagline {
  opacity: .85;
  font-size: 14px;
  line-height: 22px;
}

.bold-text {
  z-index: 100;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 600;
  position: relative;
}

.styleguide-container {
  flex-direction: column;
  align-self: flex-start;
  align-items: flex-start;
  display: flex;
}

.h4 {
  z-index: 0;
  border: 0px none var(--midnight-blue);
  color: var(--midnight-blue);
  margin-top: 0;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 28px;
  position: relative;
}

.h4.styleguide {
  background-color: var(--gray-100);
  color: var(--gray-600);
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
}

.h4.white {
  color: var(--white);
  font-family: Plus Jakarta Sans, sans-serif;
  line-height: 28px;
}

.small-text {
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 14px;
  font-style: normal;
  line-height: 24px;
}

.small-text.white {
  min-width: 110px;
  clear: left;
  opacity: 1;
  color: var(--gray-600);
  flex: 0 auto;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  display: block;
}

.small-text.white.content-wrapper {
  flex-wrap: nowrap;
  flex: 1;
  justify-content: flex-start;
  display: flex;
}

.small-text.white.footer-title-padding {
  color: var(--white);
  padding-bottom: 4px;
}

.small-text.bold {
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 600;
}

.small-text.left-margin {
  margin-left: 6px;
  font-family: Plus Jakarta Sans, sans-serif;
}

.small-text.content-wrapper {
  max-width: 840px;
  color: var(--gray-400);
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 12px;
}

.small-text.italic {
  color: var(--midnight-blue);
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 16px;
  font-style: italic;
  font-weight: 500;
  line-height: 1.5;
}

.caption {
  opacity: .5;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 12px;
  line-height: 20px;
  display: block;
}

.caption.testimonials-name {
  opacity: .81;
  color: var(--gray-600);
  margin-top: 4px;
}

.color {
  width: 120px;
  height: 80px;
  background-color: var(--midnight-blue);
  color: #173447;
  border-radius: 4px;
}

.color.grey-200 {
  background-color: var(--gray-200);
}

.color.grey-400 {
  background-color: var(--gray-400);
}

.color.grey-600 {
  background-color: var(--gray-600);
}

.color.primary-80 {
  background-color: var(--primary-800);
}

.color.primary-40 {
  background-color: var(--primary-600);
}

.color.grey-100 {
  background-color: var(--gray-100);
}

.styleguide-colors {
  grid-column-gap: 30px;
  grid-row-gap: 10px;
  grid-template-rows: auto;
  grid-template-columns: max-content max-content max-content max-content max-content;
  grid-auto-columns: 1fr;
  justify-content: start;
  align-items: center;
  justify-items: start;
  display: grid;
}

.secondary-button {
  border: 1px solid var(--gray-600);
  background-color: var(--white);
  color: var(--midnight-blue);
  letter-spacing: 1px;
  text-transform: none;
  white-space: nowrap;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 10px 24px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.secondary-button:hover {
  background-color: var(--gray-600);
  color: #fff;
}

.secondary-button.white {
  border-color: var(--white);
  font-family: Sora;
}

.secondary-button.white:hover {
  background-color: rgba(255, 255, 255, .16);
  border-color: rgba(255, 255, 255, .3);
}

.rich-text {
  max-width: 780px;
  margin-left: auto;
  margin-right: auto;
}

.rich-text h6 {
  color: #333;
}

.rich-text ul {
  padding-left: 20px;
  font-family: Plus Jakarta Sans, sans-serif;
  list-style-type: disc;
}

.rich-text a {
  color: var(--primary-600);
}

.rich-text p {
  margin-right: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 20px;
  line-height: 36px;
}

.rich-text h4, .rich-text h5 {
  color: var(--midnight-blue);
  margin-top: 20px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 600;
}

.rich-text h3 {
  color: var(--midnight-blue);
  margin-top: 30px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 700;
}

.rich-text h1 {
  color: var(--midnight-blue);
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 800;
}

.rich-text blockquote {
  border-left-color: var(--primary-600);
  letter-spacing: .3px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 31px;
}

.rich-text h2 {
  color: var(--midnight-blue);
  margin-bottom: 20px;
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 700;
  line-height: 40px;
}

.rich-text.top-margin {
  max-width: 100%;
  opacity: 1;
  margin-top: 10px;
  font-family: Plus Jakarta Sans, sans-serif;
}

.center-container {
  max-width: 480px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.center-container.bottom-margin {
  margin-bottom: 40px;
}

.buttons-container {
  z-index: 1000;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  color: #7a818f;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  display: grid;
}

.buttons-container.top-margin {
  z-index: 500;
  margin-top: 40px;
  display: none;
}

.footer-bottom {
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
  padding-top: 30px;
  padding-bottom: 30px;
  display: block;
}

.content-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.footer-link {
  height: 100%;
  color: var(--white);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 24px;
  text-decoration: none;
  transition: opacity .2s;
  display: flex;
}

.footer-link:hover {
  color: var(--primary-600);
}

.dot {
  color: var(--primary-600);
  margin-left: 10px;
  margin-right: 10px;
}

.small-container {
  z-index: 99;
  width: 100%;
  max-width: 560px;
  flex-direction: column;
  align-items: flex-start;
  padding-top: 0;
  padding-bottom: 0;
  display: flex;
  position: relative;
}

.small-container.left-margin {
  z-index: 0;
  margin-left: 130px;
}

.small-container.top-padding {
  z-index: 0;
  padding-top: 40px;
  position: static;
}

.small-container.top-padding.mobile-padding {
  padding-top: 44px;
}

.horizontal-container {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.horizontal-container.left-align {
  text-align: left;
  justify-content: flex-start;
  align-items: center;
  margin-top: 20px;
  font-family: Sora;
  display: flex;
  overflow: visible;
}

.horizontal-container.hero {
  justify-content: space-between;
  align-items: flex-start;
  padding-bottom: 0;
}

.horizontal-container.work {
  padding-top: 0;
}

.horizontal-container.card {
  justify-content: flex-start;
}

.horizontal-container.about {
  justify-content: flex-start;
  align-items: flex-start;
}

.hero-image {
  z-index: 0;
  width: 100%;
  max-width: 80%;
  flex-direction: column;
  display: flex;
  position: relative;
  top: 0%;
  bottom: 0%;
  left: auto;
  right: 0%;
}

.image {
  width: 100%;
  height: 100%;
  opacity: 1;
  object-fit: cover;
  background-color: rgba(0, 0, 0, 0);
}

.image.hero {
  width: 100%;
  height: 100%;
  max-width: 100%;
  opacity: 1;
  border-radius: 4px;
  margin-top: 0;
  padding-bottom: 0;
}

.social-link {
  min-height: 0;
  min-width: 0;
  opacity: .7;
  align-self: center;
  margin-left: 10px;
  transition: all .2s;
  position: static;
}

.social-link:hover {
  min-height: 0;
  min-width: 0;
  opacity: 1;
  -webkit-text-fill-color: inherit;
  object-fit: fill;
  background-color: rgba(0, 0, 0, 0);
  background-clip: border-box;
  flex: none;
}

.feature {
  grid-column-gap: 10px;
  grid-row-gap: 6px;
  grid-template: "Area Area-2"
  / max-content 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  text-decoration: none;
  display: grid;
}

.feature.gray {
  background-color: var(--gray-100);
  border-radius: 8px;
  align-content: start;
  align-items: start;
  padding: 16px;
}

.main-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: block;
}

.three-col-grid {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template: ". . ."
                 ". . Area"
                 / 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.testimonial {
  grid-column-gap: 10px;
  grid-row-gap: 6px;
  border: 1px solid var(--gray-400);
  background-color: #f1f1f1;
  border-radius: 8px;
  grid-template-rows: auto;
  grid-template-columns: 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-bottom: 16px;
  padding: 16px;
  display: grid;
}

.image-wrapper {
  width: 100%;
  max-width: 400px;
  border-radius: 4px;
  flex-direction: column;
  margin-right: 40px;
  display: flex;
  overflow: hidden;
}

.image-wrapper.left-margin {
  margin-left: 40px;
  margin-right: 0;
}

.image-wrapper.right-margin {
  max-width: none;
  margin-right: 0;
}

.form-block {
  max-width: 680px;
  margin: 40px auto 0;
}

.success-message {
  max-width: 500px;
  color: #0088a3;
  background-color: #cdfffb;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.error-message {
  max-width: 500px;
  color: #ff3b73;
  text-align: center;
  background-color: #ffe9e9;
  border-radius: 6px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
}

.form {
  grid-column-gap: 20px;
  grid-row-gap: 6px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: none;
  overflow: visible;
}

.label {
  text-align: left;
  margin-bottom: 0;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

.label.top-margin {
  margin-top: 20px;
}

.label.version {
  background-color: var(--primary-600);
  color: var(--white);
  text-transform: uppercase;
  border-radius: 8px;
  padding: 14px;
}

.label.bold-text {
  font-weight: 700;
}

.textarea {
  min-height: 200px;
  min-width: 380px;
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
  border-radius: 8px;
  padding: 16px 14px;
  font-family: Plus Jakarta Sans, sans-serif;
  transition: all .2s;
}

.textarea:hover {
  border-color: var(--gray-200);
}

.textarea:focus {
  border-color: var(--primary-600);
}

.textarea::-ms-input-placeholder {
  color: var(--gray-400);
}

.textarea::placeholder {
  color: var(--gray-400);
}

.text-field {
  height: 46px;
  min-width: 280px;
  border: 1px solid var(--gray-100);
  background-color: var(--gray-100);
  border-radius: 8px;
  margin-bottom: 0;
  padding: 12px 14px;
  font-family: Plus Jakarta Sans, sans-serif;
  transition: all .2s;
}

.text-field:hover {
  border: 1px solid var(--gray-200);
}

.text-field:focus {
  border: 1px solid var(--primary-600);
}

.text-field::-ms-input-placeholder {
  color: var(--gray-400);
}

.text-field::placeholder {
  color: var(--gray-400);
}

.text-field.password {
  width: 100%;
  max-width: 385px;
  min-width: 0;
}

.collection-list {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-top: 40px;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
  display: grid;
}

.image-project {
  font-family: Plus Jakarta Sans, sans-serif;
  overflow: hidden;
}

.content-project {
  height: 100%;
  background-color: var(--midnight-blue);
  flex-direction: column;
  padding: 24px;
  display: flex;
}

.card-project {
  height: 100%;
  color: var(--white);
  border-radius: 8px;
  justify-content: flex-end;
  text-decoration: none;
  overflow: hidden;
}

.card-project.link-hover-ix {
  height: 100%;
  display: block;
}

.collection-item {
  width: 100%;
  height: 100%;
  align-content: space-between;
  margin-bottom: 0;
  display: block;
}

.inline-text {
  margin-top: 10px;
  display: flex;
}

.horizontal-line {
  width: 100%;
  height: 2px;
  background-color: var(--gray-200);
  margin-top: 10px;
  margin-bottom: 10px;
}

.project-grid {
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.gray-card {
  max-width: 860px;
  background-color: var(--gray-100);
  border-radius: 8px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
  display: flex;
}

.medium-container {
  max-width: 780px;
  flex-direction: column;
  align-items: flex-start;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.asset-container {
  max-width: 360px;
  background-color: #fff;
  border-radius: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
}

.asset-composition {
  width: 100%;
  max-width: 420px;
  justify-content: center;
  align-items: flex-start;
  display: flex;
  overflow: hidden;
}

.asset-links {
  width: 100%;
  flex-direction: column;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-items: flex-start;
  margin-top: 10px;
  display: flex;
}

.license-link {
  color: var(--gray-600);
  letter-spacing: .4px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  padding-bottom: 4px;
  font-size: 14px;
  text-decoration: none;
  transition: opacity .2s;
  display: flex;
}

.license-link:hover {
  text-decoration: underline;
}

.license-link.w--current {
  color: #0f0f0f;
}

.version-grid {
  max-width: 580px;
  grid-column-gap: 20px;
  grid-row-gap: 16px;
  grid-template-rows: max-content;
  grid-template-columns: max-content 1fr;
  grid-auto-columns: 1fr;
  align-items: center;
  margin-top: 40px;
  display: grid;
}

.text-version {
  margin-bottom: 0;
}

.burger-icon {
  z-index: 400;
  width: 32px;
  height: 32px;
  cursor: pointer;
  display: none;
  position: relative;
}

.top-burger-line {
  width: 24px;
  height: 2px;
  background-color: #0f0f0f;
  border-radius: 20px;
}

.middle-burger-line {
  width: 24px;
  height: 2px;
  background-color: #0f0f0f;
  border-radius: 20px;
  margin-top: 6px;
  margin-bottom: 6px;
}

.bottom-burger-line {
  width: 24px;
  height: 2px;
  background-color: #0f0f0f;
  border-radius: 20px;
}

.utility-page-wrap {
  width: 100vw;
  height: 100vh;
  max-height: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.utility-page-content {
  width: 100%;
  max-width: 380px;
  text-align: center;
  flex-direction: column;
  align-items: center;
  display: flex;
}

.utility-page-form {
  width: 100%;
  flex-direction: column;
  align-items: center;
  display: flex;
}

._404-image {
  max-width: 320px;
  margin-bottom: 20px;
}

.utility-page-protected {
  width: 100%;
  max-width: 780px;
  text-align: center;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
}

.protected-image {
  width: 100%;
  max-width: 340px;
  border-radius: 8px;
  margin-right: 60px;
}

.image-single-project {
  width: 100%;
  height: 100%;
}

.image-2 {
  object-fit: none;
  position: static;
}

.container-2 {
  padding-left: 20px;
  padding-right: 20px;
}

.text-block {
  color: var(--gray-600);
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 500;
  text-decoration: none;
}

.text-block-2 {
  font-family: Plus Jakarta Sans, sans-serif;
  font-weight: 500;
}

.text-block-3, .text-block-4, .text-block-5, .text-block-6, .text-block-7, .text-block-8 {
  font-weight: 500;
}

.strengts {
  padding-right: 0;
}

.collection-list-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.other-projects {
  height: 100%;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  margin-bottom: 0;
  padding-left: 0;
  display: grid;
}

.project-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  border-radius: 8px 8px 0 0;
}

.background-colour {
  width: 100%;
  height: 100%;
  min-height: 100%;
  color: var(--midnight-blue);
  background-color: #eff2f5;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
  padding: 10px 30px 30px;
  display: block;
}

.project-heading.smaller {
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 24px;
  text-decoration: none;
}

.other-projects-heading {
  margin-top: 0;
  margin-bottom: 60px;
  font-family: Plus Jakarta Sans, sans-serif;
}

.link-block {
  color: var(--gray-600);
  text-decoration: none;
}

.link-block.image {
  min-height: 0;
  border-radius: 0;
}

.collection-item-2 {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
}

.collection-list-wrapper {
  height: 100%;
  list-style-type: none;
  display: flex;
  overflow: hidden;
}

.testimonial-card {
  color: var(--gray-100);
  background-color: #dce6ef;
  border-radius: 16px;
  margin-bottom: 20px;
  padding: 30px;
}

.quotation-mark {
  color: var(--gray-600);
  background-color: rgba(0, 0, 0, 0);
  margin-bottom: 30px;
}

.testimonial-cards-wrap-left {
  width: 50%;
  padding-right: 10px;
}

.testimonials-wrap {
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  grid-template-rows: auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-content: start;
  display: flex;
}

.testimonial-cards-wrap-right {
  width: 50%;
  margin-top: 30px;
  padding-left: 10px;
}

.testimonial-grid {
  grid-template-rows: auto;
  grid-template-columns: .5fr 1fr;
  align-content: start;
  position: -webkit-sticky;
  position: sticky;
}

.testimonial-text {
  position: -webkit-sticky;
  position: sticky;
}

.password-box {
  width: 100%;
  max-width: 450px;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: 2.6fr 1fr;
  grid-auto-columns: 1fr;
  justify-content: center;
  align-items: center;
  justify-items: center;
  display: grid;
}

.password-title {
  max-width: 440px;
  flex: 0 auto;
  padding-bottom: 24px;
  display: block;
}

.error-message-2 {
  width: 100%;
  max-width: 450px;
  color: #d61313;
  border-radius: 4px;
  margin-top: 16px;
}

.image-3 {
  max-width: 200px;
  min-height: 200px;
}

.div-block {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  grid-template-columns: .3fr 1fr;
  grid-auto-columns: 1fr;
  display: grid;
}

.div-block.password-notice-box {
  width: 100%;
  max-width: 450px;
  border: 1px solid var(--gray-400);
  border-radius: 8px;
  justify-items: start;
  margin-top: 24px;
  padding-top: 16px;
  padding-bottom: 16px;
  padding-left: 16px;
  display: flex;
}

.text-block-9 {
  text-align: left;
  font-size: 12px;
  font-weight: 600;
}

.text-block-9.password-notice {
  font-size: 12px;
  font-weight: 400;
}

.heading-2 {
  text-align: left;
}

.image-4 {
  height: 16px;
  max-width: 16px;
  opacity: .5;
  align-self: flex-start;
}

.password-notice-box {
  width: 100%;
  max-width: 450px;
  border: 1px solid var(--gray-200);
  border-radius: 5px;
  margin-top: 16px;
  padding: 15px;
  display: flex;
}

.icon-block {
  margin-right: 15px;
}

.navbar-logo-left-container {
  z-index: 5;
  width: 1030px;
  max-width: 100%;
  background-color: rgba(0, 0, 0, 0);
  margin-left: auto;
  margin-right: auto;
  padding: 15px 20px;
}

.navbar-logo-left-container.shadow-three {
  width: 100%;
  max-width: 1140px;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 20px;
}

.container-3 {
  width: 100%;
  max-width: 940px;
  margin-left: auto;
  margin-right: auto;
}

.navbar-wrapper {
  justify-content: space-between;
  align-items: center;
  display: flex;
}

.nav-menu-two {
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0;
  display: flex;
}

.nav-link-2 {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 10px;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-2:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-link-2:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-link-2[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 4px;
  outline: 2px solid #0050bd;
}

.nav-dropdown {
  margin-left: 5px;
  margin-right: 5px;
}

.nav-dropdown-toggle {
  letter-spacing: .25px;
  padding: 5px 30px 5px 10px;
  font-size: 14px;
  line-height: 20px;
}

.nav-dropdown-toggle:hover {
  color: rgba(26, 27, 31, .75);
}

.nav-dropdown-toggle:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-toggle[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-icon {
  margin-right: 10px;
}

.nav-dropdown-list {
  background-color: #fff;
  border-radius: 12px;
}

.nav-dropdown-list.w--open {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-dropdown-link {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 14px;
}

.nav-dropdown-link:focus-visible {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-dropdown-link[data-wf-focus-visible] {
  outline-offset: 0px;
  color: #0050bd;
  border-radius: 5px;
  outline: 2px solid #0050bd;
}

.nav-divider {
  width: 1px;
  height: 22px;
  background-color: #e4ebf3;
  margin-left: 15px;
  margin-right: 15px;
}

.nav-link-accent {
  color: #1a1b1f;
  letter-spacing: .25px;
  margin-left: 5px;
  margin-right: 20px;
  padding: 5px 10px;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-decoration: none;
}

.nav-link-accent:hover {
  color: rgba(26, 27, 31, .75);
}

.button-primary {
  color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  background-color: #1a1b1f;
  padding: 12px 25px;
  font-size: 12px;
  line-height: 20px;
  transition: all .2s;
}

.button-primary:hover {
  color: #fff;
  background-color: #32343a;
}

.button-primary:active {
  background-color: #43464d;
}

.body, .body-2, .body-3, .body-4 {
  padding-top: 62px;
}

.text-block-10 {
  border-radius: 4px;
}

.text-block-11 {
  max-width: 260px;
  min-width: auto;
  background-color: var(--primary-600);
  color: var(--white);
  border-radius: 6px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 9px;
  font-size: 12px;
  position: absolute;
}

.prototypes {
  height: auto;
  max-height: none;
  max-width: 50%;
  min-height: 0;
  -webkit-text-fill-color: inherit;
  background-clip: border-box;
  flex-direction: column;
  margin-top: 30px;
  margin-bottom: auto;
  display: block;
}

.background-video {
  min-height: 0;
  object-fit: fill;
  flex: none;
  display: flex;
}

.password-small-text {
  text-align: left;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 12px;
}

.password-small-title {
  color: var(--midnight-blue);
  text-align: left;
  font-family: Plus Jakarta Sans, sans-serif;
  font-size: 12px;
  font-weight: 600;
}

.lottie-animation {
  width: 16px;
  height: 16px;
}

.div-block-2 {
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto auto;
  grid-template-columns: 1fr 1fr;
  grid-auto-columns: 1fr;
  align-self: flex-start;
  align-items: center;
  margin-top: 20px;
  display: flex;
}

.image-5 {
  width: 16px;
  height: 16px;
  opacity: .5;
}

.icon-lock {
  width: 12px;
  height: auto;
  opacity: .5;
  margin-right: 8px;
}

.password-required {
  background-color: rgba(0, 0, 0, 0);
  margin-top: 10px;
  display: none;
  overflow: visible;
}

.case-study-notice-box {
  width: 100%;
  max-width: 100%;
  border: 1px solid var(--gray-200);
  border-radius: 6px;
  margin-top: 60px;
  padding: 15px;
  display: flex;
}

.cursor-wrapper {
  z-index: 100;
  justify-content: center;
  align-items: center;
  display: flex;
  position: fixed;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
}

.cursor-dot {
  width: 10px;
  height: 10px;
  background-color: #f07;
  border-radius: 50%;
  position: static;
}

.cursor-circle {
  z-index: auto;
  width: 40px;
  height: 40px;
  border: 2px solid rgba(255, 0, 119, .23);
  border-radius: 50%;
  position: absolute;
  top: auto;
  bottom: auto;
  left: auto;
  right: auto;
}

._w-richtext-align-center {
  width: 36%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.body-5 {
  padding-top: 62px;
}

.text-block-12 {
  text-align: center;
  display: block;
}

.case-study-images {
  width: 100%;
  min-width: 100%;
  border-radius: 4px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.case-study-images.image-50-small {
  width: 60%;
  min-width: 60%;
  border-radius: 0;
  margin-left: auto;
}

.case-study-images.image-50-small.align-left {
  margin-left: 0;
}

.case-study-images.image-50-small.border {
  border: 1px solid var(--gray-200);
  border-radius: 4px;
}

.case-study-images.image-80-small {
  width: 30%;
  min-width: 30%;
}

.case-study-images.image-80-small.border {
  max-width: 30%;
  margin-top: 10px;
}

.case-study-images.image-70-small {
  width: 70%;
  min-width: 70%;
}

.case-study-images.border {
  border: 1px solid var(--gray-200);
}

.image-6 {
  width: 100%;
  height: 100%;
}

.work, .contact, .case-study {
  padding-top: 62px;
}

.all-ordered-lists {
  list-style-type: decimal;
}

.image-full-page {
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  display: block;
}

.image-full-page.border {
  border: 0px none var(--gray-200);
  border-radius: 0;
  margin-right: 20px;
  padding-right: 0;
  display: block;
}

.list {
  list-style-type: none;
}

.collection-list-wrapper-2 {
  overflow: visible;
}

.image-7 {
  display: block;
}

.image-8 {
  width: 30%;
  height: 30%;
  max-width: none;
  margin-top: 6px;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

@media screen and (min-width: 1920px) {
  .navbar-container {
    padding-left: 20px;
  }

  .nav-link {
    font-size: 16px;
    line-height: 22px;
  }

  .primary-button {
    font-size: 16px;
    line-height: 26px;
  }

  .container.hero {
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 0;
  }

  .h3 {
    font-size: 26px;
    line-height: 34px;
  }

  .h2 {
    font-size: 36px;
    line-height: 46px;
  }

  .h1 {
    font-size: 44px;
    line-height: 54px;
  }

  .text, .bold-text {
    font-size: 18px;
    line-height: 26px;
  }

  .h4 {
    font-size: 22px;
    line-height: 30px;
  }

  .small-text {
    font-size: 16px;
  }

  .caption {
    font-size: 14px;
  }

  .secondary-button {
    font-size: 16px;
    line-height: 22px;
  }

  .rich-text {
    max-width: 920px;
    font-size: 18px;
    line-height: 26px;
  }

  .rich-text h6 {
    font-size: 16px;
    line-height: 22px;
  }

  .rich-text h4 {
    font-size: 22px;
    line-height: 28px;
  }

  .rich-text h5 {
    font-size: 18px;
    line-height: 24px;
  }

  .rich-text h3 {
    font-size: 28px;
    line-height: 34px;
  }

  .rich-text h1 {
    font-size: 42px;
    line-height: 48px;
  }

  .rich-text blockquote {
    font-size: 18px;
    line-height: 24px;
  }

  .rich-text h2 {
    font-size: 36px;
    line-height: 44px;
  }

  .footer-link {
    font-size: 16px;
  }

  .small-container.top-padding.mobile-padding {
    padding-top: 60px;
  }

  .hero-image {
    max-width: 580px;
  }

  .form-block {
    max-width: 780px;
    grid-row-gap: 20px;
  }

  .form {
    grid-row-gap: 14px;
  }

  .label {
    font-size: 18px;
    line-height: 28px;
  }

  .textarea {
    font-size: 22px;
    line-height: 32px;
  }

  .text-field {
    height: 66px;
    min-width: 380px;
    font-size: 22px;
    line-height: 32px;
  }

  .medium-container, .utility-page-protected {
    max-width: 920px;
  }
}

@media screen and (max-width: 991px) {
  a {
    cursor: pointer;
  }

  .navbar-container {
    padding-left: 20px;
    padding-right: 16px;
  }

  .nav-menu {
    background-color: var(--white);
    margin-bottom: 2px;
    padding-bottom: 6px;
  }

  .brand.w--current {
    color: #3e4246;
    margin-top: 6px;
  }

  .nav-link {
    padding: 10px 30px;
    font-size: 16px;
    line-height: 24px;
    display: block;
  }

  .nav-link.button {
    background-color: var(--white);
    color: var(--midnight-blue);
    border-width: 0;
    margin-top: 0;
    margin-left: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 30px;
  }

  .nav-link.button:hover {
    background-color: var(--white);
    color: var(--primary-600);
  }

  .nav-link.home {
    color: var(--midnight-blue);
  }

  .nav-link.home:hover {
    color: var(--primary-600);
  }

  .primary-button.w--current {
    margin-left: 0;
  }

  .primary-button.left-margin {
    max-width: 240px;
    margin-left: auto;
    margin-right: auto;
  }

  .section.hero {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section.gray {
    padding-left: 40px;
    padding-right: 40px;
  }

  .container.hero {
    padding-top: 0;
    padding-left: 0;
  }

  .text.white.hero {
    padding-top: 0;
  }

  .text.white.hero.right-margin {
    margin-bottom: 40px;
    margin-right: 0;
  }

  .text.top-margin.strenghts-text {
    max-width: 560px;
  }

  .text.top-margin.tagline {
    font-size: 14px;
    line-height: 22px;
  }

  .secondary-button {
    border-color: var(--gray-600);
    color: var(--midnight-blue);
    text-transform: uppercase;
    padding: 10px 24px;
    font-size: 14px;
    line-height: 22px;
  }

  .secondary-button:hover {
    background-color: var(--gray-600);
  }

  .secondary-button.white {
    line-height: 22px;
  }

  .rich-text.top-margin {
    padding: 0;
  }

  .buttons-container {
    justify-content: center;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .content-wrapper {
    order: 0;
    margin-bottom: 20px;
  }

  .small-container {
    max-width: 660px;
    order: -1;
    padding-bottom: 0;
  }

  .small-container.left-margin {
    max-width: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    display: flex;
  }

  .small-container.top-padding {
    max-width: 330px;
    padding-top: 10px;
    padding-left: 0;
  }

  .horizontal-container {
    flex-direction: column;
  }

  .horizontal-container.left-align {
    flex-direction: row;
  }

  .horizontal-container.hero {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
  }

  .horizontal-container.work, .horizontal-container.card {
    flex-direction: row;
  }

  .horizontal-container.about {
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  }

  .hero-image {
    max-width: 100%;
    margin-left: 0;
  }

  .image.card {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  .main-grid {
    grid-template-columns: 1fr 1fr;
  }

  .three-col-grid {
    width: 100%;
    max-width: 560px;
    margin-top: 40px;
  }

  .image-wrapper {
    max-width: 560px;
    margin-top: 40px;
    margin-right: 0;
  }

  .image-wrapper.left-margin {
    max-width: none;
    margin-left: 0;
  }

  .image-wrapper.right-margin {
    max-width: 400px;
    order: -1;
    align-self: flex-start;
    align-items: stretch;
    margin-top: 0;
    display: flex;
  }

  .form-block {
    width: 100%;
  }

  .text-field {
    width: 100%;
    min-width: 0;
  }

  .collection-item {
    margin-bottom: 15px;
  }

  .license-link {
    height: auto;
    margin-left: 0;
    font-size: 16px;
  }

  .burger-icon {
    background-color: var(--white);
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 4px;
    display: flex;
  }

  .middle-burger-line {
    perspective-origin: 50%;
    transform-origin: 50%;
  }

  .menu-button {
    color: var(--midnight-blue);
    background-color: rgba(255, 255, 255, 0);
    border-radius: 6px;
    margin-top: 6px;
    margin-left: auto;
    padding: 18px;
  }

  .menu-button.w--open {
    background-color: var(--midnight-blue);
    margin-top: 0;
    margin-left: 0;
  }

  .image-single-project {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .strengts {
    min-width: 100%;
  }

  .other-projects {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    display: block;
  }

  .background-colour {
    height: 100%;
  }

  .project-heading.smaller {
    font-size: 18px;
    line-height: 24px;
  }

  .collection-list-wrapper {
    display: block;
  }

  .testimonial-grid {
    grid-column-gap: 60px;
    grid-row-gap: 32px;
    grid-template-columns: 1fr;
    position: static;
  }

  .password-box {
    grid-column-gap: 16px;
  }

  .error-message-2, .password-notice-box {
    margin-top: 16px;
  }

  .container-3 {
    max-width: 728px;
  }

  .nav-menu-wrapper {
    background-color: rgba(0, 0, 0, 0);
  }

  .nav-menu-two {
    background-color: #fff;
    border-radius: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding: 20px;
    display: flex;
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-link-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: absolute;
  }

  .menu-button-2 {
    padding: 12px;
  }

  .menu-button-2.w--open {
    color: #fff;
    background-color: #a6b1bf;
  }

  .body {
    cursor: default;
  }

  .cursor-wrapper {
    display: none;
  }
}

@media screen and (max-width: 767px) {
  .navbar-container {
    padding-left: 0;
  }

  .brand.w--current {
    margin-top: 6px;
  }

  .primary-button {
    font-size: 15px;
  }

  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.top-margin {
    padding-top: 100px;
  }

  .section.bottom-padding {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .section.padding {
    padding-top: 100px;
    padding-bottom: 100px;
  }

  .container.hero {
    padding-top: 20px;
  }

  .h3 {
    font-size: 20px;
    line-height: 28px;
  }

  .h2 {
    font-size: 36px;
    line-height: 38px;
  }

  .h1 {
    font-size: 36px;
    line-height: 46px;
  }

  .styleguide-grid {
    grid-template-columns: 1fr;
  }

  .link {
    font-size: 15px;
    line-height: 26px;
  }

  .text.white.hero.right-margin {
    margin-bottom: 0;
  }

  .bold-text {
    font-size: 13px;
    line-height: 20px;
  }

  .h4 {
    font-size: 18px;
    line-height: 26px;
  }

  .styleguide-colors {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .secondary-button {
    font-size: 15px;
  }

  .buttons-container.top-margin {
    width: 100%;
  }

  .footer-bottom {
    flex-direction: column;
  }

  .footer-link:hover {
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0);
  }

  .dot {
    font-size: 12px;
    line-height: 20px;
  }

  .small-container.left-margin {
    max-width: 560px;
    margin-left: 0;
  }

  .small-container.top-padding {
    max-width: 100%;
    padding-top: 0;
  }

  .horizontal-container.hero {
    flex-direction: column;
  }

  .horizontal-container.about {
    flex-direction: column;
    display: flex;
  }

  .hero-image {
    max-width: 100%;
    margin-top: 0;
    margin-left: 0;
  }

  .main-grid {
    grid-template-columns: 1fr;
  }

  .three-col-grid.strengts {
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto auto;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    display: grid;
  }

  .image-wrapper.right-margin {
    max-width: 560px;
    order: 0;
    margin-top: 40px;
  }

  .form-block {
    width: 100%;
    max-width: none;
  }

  .text-field {
    min-width: 0;
  }

  .collection-list {
    grid-template-columns: 1fr;
  }

  .image-project, .card-project {
    width: 100%;
  }

  .project-grid {
    grid-template-columns: 1fr;
  }

  .license-link {
    display: flex;
  }

  .license-link:hover {
    border-bottom-style: solid;
    border-bottom-color: rgba(0, 0, 0, 0);
  }

  .bottom-burger-line {
    padding-bottom: 0;
    padding-right: 0;
  }

  .menu-button {
    margin-left: auto;
  }

  .utility-page-form {
    margin-top: 40px;
  }

  .utility-page-protected {
    flex-direction: column;
  }

  .protected-image {
    height: 240px;
    object-fit: cover;
    margin-right: 0;
  }

  .other-projects {
    width: 100%;
    display: block;
  }

  .project-image {
    height: 100%;
    max-width: none;
    object-fit: contain;
  }

  .background-colour, .link-block.image {
    height: auto;
  }

  .collection-item-2 {
    height: auto;
    min-height: 0;
    display: block;
  }

  .testimonial-card {
    width: auto;
    margin-bottom: 30px;
  }

  .quotation-mark {
    margin-bottom: 20px;
  }

  .testimonial-cards-wrap-left {
    width: 100%;
    padding-right: 0;
  }

  .testimonials-wrap {
    flex-direction: column;
  }

  .testimonial-cards-wrap-right {
    width: 100%;
    margin-top: 0;
    padding-left: 0;
  }

  .testimonial-grid {
    grid-row-gap: 24px;
    grid-template-columns: 1.5fr;
    position: static;
  }

  .error-message-2, .password-notice-box {
    margin-top: 16px;
  }

  .navbar-logo-left-container {
    max-width: 100%;
  }

  .navbar-brand {
    padding-left: 0;
  }

  .nav-menu-two {
    border-radius: 20px;
    flex-direction: column;
    padding-bottom: 30px;
  }

  .nav-link-2 {
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .nav-dropdown {
    flex-direction: column;
    align-items: center;
    display: flex;
  }

  .nav-dropdown-toggle {
    padding-top: 10px;
    padding-bottom: 10px;
  }

  .nav-dropdown-list.shadow-three {
    box-shadow: 0 8px 50px rgba(0, 0, 0, .05);
  }

  .nav-dropdown-list.shadow-three.w--open {
    position: relative;
  }

  .nav-dropdown-list.shadow-three.mobile-shadow-hide {
    box-shadow: none;
  }

  .nav-divider {
    width: 200px;
    height: 1px;
    max-width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  .nav-link-accent {
    margin-right: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: inline-block;
  }

  .mobile-margin-top-10 {
    margin-top: 10px;
  }
}

@media screen and (max-width: 479px) {
  .navbar-container {
    height: auto;
    padding-left: 10px;
    padding-right: 10px;
  }

  .nav-menu {
    padding-bottom: 0;
  }

  .brand.w--current {
    margin-top: 2px;
    padding-top: 19px;
    padding-bottom: 19px;
    padding-left: 0;
  }

  .nav-link {
    padding: 10px;
    display: block;
  }

  .nav-link.button {
    padding-left: 10px;
  }

  .primary-button {
    font-size: 15px;
  }

  .primary-button.password {
    max-width: 100%;
  }

  .section {
    padding: 24px 16px;
  }

  .section.hero {
    padding: 0;
  }

  .section.footer {
    padding-left: 16px;
    padding-right: 16px;
  }

  .section.bottom-padding {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .section.gray {
    padding: 16px;
  }

  .section.padding {
    padding-top: 34px;
    padding-bottom: 34px;
  }

  .section.padding.other-projects-section {
    padding: 16px;
  }

  .container {
    padding-left: 0;
    padding-right: 0;
  }

  .container.hero {
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
  }

  .h2, .h2.title-testimonial {
    font-size: 32px;
    line-height: 33px;
  }

  .h1.hero {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 34px;
    line-height: 40px;
  }

  .styleguide-grid {
    grid-row-gap: 30px;
    grid-template-rows: auto auto;
  }

  .h4 {
    white-space: break-spaces;
  }

  .small-text.white.footer-title-padding {
    text-align: left;
  }

  .small-text.content-wrapper {
    text-align: left;
    line-height: 20px;
  }

  .styleguide-colors {
    grid-template-columns: 1fr 1fr;
  }

  .secondary-button {
    min-width: 150px;
    padding-left: 24px;
    padding-right: 24px;
    font-size: 14px;
  }

  .secondary-button.work {
    width: 100%;
    margin-top: 20px;
  }

  .rich-text p {
    font-size: 18px;
  }

  .rich-text h2 {
    font-size: 24px;
    line-height: 32px;
  }

  .center-container {
    text-align: center;
  }

  .buttons-container {
    width: 100%;
    flex-direction: column;
  }

  .buttons-container.top-margin {
    grid-template-columns: 1fr;
  }

  .footer-bottom {
    text-align: center;
    flex-direction: column;
  }

  .content-wrapper {
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 20px;
  }

  .small-container.top-padding {
    padding-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .small-container.top-padding.mobile-padding {
    padding-top: 0;
    padding-left: 16px;
    padding-right: 16px;
  }

  .horizontal-container.hero {
    padding-top: 0;
  }

  .horizontal-container.work {
    flex-direction: column;
    padding-top: 0;
  }

  .hero-image {
    margin-top: 0;
    padding-top: 0;
    position: relative;
  }

  .feature {
    margin-top: 8px;
    margin-bottom: 8px;
  }

  .three-col-grid {
    grid-template-columns: 1fr 1fr;
  }

  .three-col-grid.strengts {
    grid-template-rows: auto auto auto auto;
    grid-template-columns: 1fr 1fr;
    display: block;
  }

  .image-wrapper.left-margin {
    height: auto;
  }

  .form-block {
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
  }

  .form {
    grid-template-columns: 1fr;
  }

  .label {
    margin-bottom: 0;
  }

  .label.email {
    margin-top: 20px;
  }

  .textarea, .text-field {
    width: 100%;
    min-width: 0;
  }

  .text-field.password {
    margin-bottom: 8px;
  }

  .gray-card {
    padding: 16px;
  }

  .asset-container {
    flex-direction: column;
    margin-top: 40px;
  }

  .asset-composition {
    height: auto;
    max-width: none;
  }

  .version-grid {
    grid-template-columns: max-content;
  }

  .menu-button {
    margin-left: auto;
  }

  .menu-button.w--open {
    background-color: var(--midnight-blue);
  }

  .utility-page-content {
    padding-left: 20px;
    padding-right: 20px;
  }

  ._404-image {
    width: 100%;
    max-width: none;
  }

  .utility-page-protected {
    padding-left: 20px;
    padding-right: 20px;
  }

  .other-projects {
    margin-bottom: 0;
    display: block;
  }

  .background-colour {
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .project-heading.smaller {
    margin-top: 0;
  }

  .other-projects-heading {
    margin-top: 36px;
    margin-bottom: 36px;
  }

  .collection-item-2 {
    flex: 1;
    margin-bottom: 24px;
  }

  .collection-list-wrapper {
    width: auto;
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    grid-template-rows: auto auto;
    grid-template-columns: 1fr;
    grid-auto-columns: 1fr;
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
  }

  .testimonial-card {
    padding-top: 30px;
  }

  .testimonial-grid {
    grid-row-gap: 16px;
  }

  .icon {
    color: var(--midnight-blue);
  }

  .password-box {
    display: block;
  }

  .error-message-2, .password-notice-box {
    margin-top: 24px;
  }

  .container-3 {
    max-width: none;
  }

  .nav-menu-two {
    flex-direction: column;
  }
}

#w-node-a6845e27-8fdd-d618-431c-e9d9a0eddde1-aa5e0154 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-d9294c5d-9081-41e9-31c7-87dda24449e9-aa5e0154 {
  grid-area: 1 / 2 / 2 / 3;
}

#w-node-d9294c5d-9081-41e9-31c7-87dda24449eb-aa5e0154 {
  grid-area: 1 / 1 / 2 / 2;
}

#w-node-daddf817-879b-e36a-5123-356eb5e4cc5d-aa5e0154, #w-node-_130b25ab-84a0-9871-b256-fa58619ce254-aa5e0154, #w-node-a82faa3e-cc84-4491-4674-790b4cebb0f0-aa5e0154, #w-node-fbe15dc7-7f5d-84fd-9ee6-74d62571cce6-aa5e0154, #w-node-fbe15dc7-7f5d-84fd-9ee6-74d62571cce7-aa5e0154, #w-node-_56406658-0e60-f1bf-649a-33a1a6b49816-aa5e0154, #w-node-_56406658-0e60-f1bf-649a-33a1a6b49817-aa5e0154, #w-node-_0d6e726f-0662-16ee-88ae-b0ea787044d6-aa5e0154, #w-node-_0d6e726f-0662-16ee-88ae-b0ea787044d7-aa5e0154, #w-node-_9e59732f-64bb-84c8-250d-1601b8f2594c-aa5e0154, #w-node-_9e59732f-64bb-84c8-250d-1601b8f2594d-aa5e0154 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_8945f776-b17b-3a49-e34e-e5966aaa8406-aa5e0154 {
  grid-area: Area;
}

#w-node-b5a4c3d2-a027-ff09-62db-71b1e4d78b69-aa5e0154, #w-node-_3e064542-49f2-3c77-0098-4cf2ea8a96a3-aa5e0154, #w-node-_308e0c55-d337-7b97-ccf2-63761795e882-aa5e0154, #w-node-_308e0c55-d337-7b97-ccf2-63761795e883-aa5e0154, #w-node-c8998e92-9fcf-a345-0af5-3c6e10394ed0-aa5e0154, #w-node-_36041b20-44f0-4540-02d1-0f7d53facd78-aa5e0154, #w-node-_17956bae-37be-e94c-08ac-3a8982e2da63-aa5e0154 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#w-node-_46719436-527e-a8f4-4000-ef5dee84b060-aa5e0154 {
  align-self: start;
}

#w-node-_29978d94-2799-a639-1e46-032d97790755-f95e0155 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

#name.w-node-_5e24a0e1-80cc-6972-fc83-be28b29a963c-2d5e0158 {
  grid-area: 2 / 1 / 3 / 2;
}

#Email.w-node-_5e24a0e1-80cc-6972-fc83-be28b29a963d-2d5e0158 {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_5e24a0e1-80cc-6972-fc83-be28b29a963e-2d5e0158 {
  grid-area: 3 / 1 / 4 / 3;
}

#Subject.w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9640-2d5e0158 {
  grid-area: 4 / 1 / 5 / 3;
}

#w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9641-2d5e0158 {
  grid-area: 5 / 1 / 6 / 3;
}

#field.w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9643-2d5e0158 {
  grid-area: 6 / 1 / 7 / 3;
}

#w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9644-2d5e0158 {
  grid-area: 7 / 2 / 8 / 3;
  justify-self: end;
}

#w-node-_407f4b0f-ae97-5b59-0463-2c2832a18151-755e015c {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_407f4b0f-ae97-5b59-0463-2c2832a18152-755e015c {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_407f4b0f-ae97-5b59-0463-2c2832a18153-755e015c {
  grid-area: 2 / 3 / 3 / 4;
}

#w-node-_407f4b0f-ae97-5b59-0463-2c2832a18154-755e015c {
  grid-area: 2 / 4 / 3 / 5;
}

#w-node-_6c4c0082-ac5b-ec42-11f6-bc588d36dc31-755e015c {
  grid-area: 2 / 5 / 3 / 6;
}

#w-node-_407f4b0f-ae97-5b59-0463-2c2832a1815a-755e015c {
  grid-area: 2 / 1 / 3 / 2;
}

#w-node-_407f4b0f-ae97-5b59-0463-2c2832a1815b-755e015c, #w-node-d086eec2-c110-f55a-8f21-9081912ab3fe-755e015c {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-_236314a1-c2f5-641d-6172-1523cc6e2013-755e015c, #name.w-node-a83bff3f-edbd-4e1d-14a3-594f36467ff6-755e015c {
  grid-area: 2 / 1 / 3 / 2;
}

#Email.w-node-a83bff3f-edbd-4e1d-14a3-594f36467ff7-755e015c {
  grid-area: 2 / 2 / 3 / 3;
}

#w-node-a83bff3f-edbd-4e1d-14a3-594f36467ff8-755e015c {
  grid-area: 3 / 1 / 4 / 3;
}

#Subject.w-node-a83bff3f-edbd-4e1d-14a3-594f36467ffa-755e015c {
  grid-area: 4 / 1 / 5 / 3;
}

#w-node-a83bff3f-edbd-4e1d-14a3-594f36467ffb-755e015c {
  grid-area: 5 / 1 / 6 / 3;
}

#field.w-node-a83bff3f-edbd-4e1d-14a3-594f36467ffd-755e015c {
  grid-area: 6 / 1 / 7 / 3;
}

#w-node-a83bff3f-edbd-4e1d-14a3-594f36467ffe-755e015c {
  grid-area: 7 / 2 / 8 / 3;
  justify-self: stretch;
}

#w-node-deec6e51-3fa4-f3c0-adc9-10717f72c637-347c7198, #w-node-_16c23127-eb6f-e6bd-897f-195837f71c79-347c7198, #w-node-_3f8e781b-f004-a5d2-03d0-54b9675a42a0-985abca7, #w-node-deec6e51-3fa4-f3c0-adc9-10717f72c637-458272c6, #w-node-_16c23127-eb6f-e6bd-897f-195837f71c79-458272c6, #w-node-deec6e51-3fa4-f3c0-adc9-10717f72c637-85a53fdb, #w-node-_16c23127-eb6f-e6bd-897f-195837f71c79-85a53fdb, #w-node-deec6e51-3fa4-f3c0-adc9-10717f72c637-cde896d8, #w-node-_16c23127-eb6f-e6bd-897f-195837f71c79-cde896d8 {
  grid-area: span 1 / span 1 / span 1 / span 1;
}

@media screen and (min-width: 1920px) {
  #name.w-node-_5e24a0e1-80cc-6972-fc83-be28b29a963c-2d5e0158 {
    grid-area: 2 / 1 / 3 / 2;
  }
}

@media screen and (max-width: 767px) {
  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a18151-755e015c {
    grid-area: 2 / 1 / 3 / 2;
  }

  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a18152-755e015c {
    grid-area: 2 / 2 / 3 / 3;
  }

  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a18153-755e015c {
    grid-area: 2 / 3 / 3 / 4;
  }

  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a18154-755e015c {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-_6c4c0082-ac5b-ec42-11f6-bc588d36dc31-755e015c {
    grid-area: 4 / 2 / 5 / 3;
  }
}

@media screen and (max-width: 479px) {
  #w-node-d9294c5d-9081-41e9-31c7-87dda24449e9-aa5e0154 {
    grid-area: span 1 / span 1 / span 1 / span 1;
  }

  #w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9638-2d5e0158 {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_5e24a0e1-80cc-6972-fc83-be28b29a963a-2d5e0158 {
    grid-area: 3 / 1 / 4 / 2;
  }

  #Email.w-node-_5e24a0e1-80cc-6972-fc83-be28b29a963d-2d5e0158 {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-_5e24a0e1-80cc-6972-fc83-be28b29a963e-2d5e0158 {
    grid-row: 5 / 6;
    grid-column-end: 2;
  }

  #Subject.w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9640-2d5e0158 {
    grid-row: 6 / 7;
    grid-column-end: 2;
  }

  #w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9641-2d5e0158 {
    grid-row: 7 / 8;
    grid-column-end: 2;
  }

  #field.w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9643-2d5e0158 {
    grid-row: 8 / 9;
    grid-column-end: 2;
  }

  #w-node-_5e24a0e1-80cc-6972-fc83-be28b29a9644-2d5e0158 {
    grid-area: 9 / 1 / 10 / 2;
  }

  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a1814d-755e015c {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a18153-755e015c {
    grid-area: 4 / 1 / 5 / 2;
  }

  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a18154-755e015c {
    grid-column: 2 / 3;
  }

  #w-node-_6c4c0082-ac5b-ec42-11f6-bc588d36dc31-755e015c {
    grid-area: 6 / 1 / 7 / 2;
  }

  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a18156-755e015c {
    grid-area: 1 / 1 / 2 / 2;
  }

  #w-node-_407f4b0f-ae97-5b59-0463-2c2832a18158-755e015c {
    grid-area: 1 / 2 / 2 / 3;
  }

  #w-node-d086eec2-c110-f55a-8f21-9081912ab3f8-755e015c {
    grid-area: 3 / 1 / 4 / 2;
  }

  #w-node-d086eec2-c110-f55a-8f21-9081912ab3fe-755e015c {
    grid-area: 4 / 1 / 5 / 2;
  }
}


